---
layout: notag
title: Category List
---
<a href="http://kcbs.github.io/">kcbs.github.io</a>의 카테고리 리스트 입니다.
{% assign display = "Tutorial||Chat||Github Trending||Tips" | split:"||" %}
{% for d in display %}
<div class="list-group">
<a class="list-group-item active" id="{{d}}" href="#{{d}}">{{d}}</a>
<div class="post-list {{d}}">
{% for p in site.posts %}
	{% for t in p.category %}
		{% if t == d %}
			<a class="list-group-item" href="{{p.url}}">{{p.title}}</a>
		{% endif %}
	{% endfor %}
{% endfor %}
</div>
</div>
{% endfor %}

<script type="text/javascript">
	$('.list-group-item.active').click(function() {
		$(this).siblings('.post-list').slideToggle();
	});
</script>