<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">

		<link rel="alternate" href="http://kcbs.github.io" hreflang="ko-kr" />

		<script type="text/javascript" src="/jquery/jquery-1.11.2.min.js"></script>
		<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
		<title> [KCBS] {{page.title}} </title>
		<script type="text/javascript">
			$(document).ready(function() {
				var h = $('.wrapper').height();
				$('.sidenav').css("height", h+"px");
			})
		</script>
		<meta name="keywords" content="{{page.category}},{%for t in page.tags%}{{t}},{%endfor%}{%for k in page.keywords%}{{k}},{%endfor%}KCBS,kcbs,kcbs.github.io,blog">
		<meta name="author" content="KCBS">
		<meta charset="UTF-8">
		<meta name="description" content="KCBS's blog">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<header class="navbar navbar-inverse" role="navigation">
			<!-- main logo -->
			<div class="navbar-header">
				<div class="navbar-brand"><a href="/"></a></div>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-bar">
					<span class="sr-only">Toggle Navbar</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="top-bar">
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li><a href="/notice">Notice</a></li>
					<li><a href="/category">Categories</a></li>
					<li><a href="http://github.com/qorcjftns/">Github</a></li>
				</ul>
			</div>
		</header>
		<div class="navbar deco"></div>
		<div class="wrapper">
			<div class="container">
				{% include sidebar.html %}
