
<nav class="sidenav hidden-xs col-sm-3">
	<div class="widget category">
		<div class="heading">Categories</div>
		<ul>
			{% for d in site.data.category.category %}
				<li>
					<div onclick="$(this).siblings('ul').slideToggle(150);" class="heading-cat">> {{d}}</div>
					<ul class="posts-cat {{d}}">
					{% assign counter = 0 %}
					{% for p in site.posts %}
						{% if counter < 5 %}
							{% for t in p.category %}
								{% if t == d %}
									{% assign counter = counter | plus:1 %}
									<li><a href="{{p.url}}">{{p.title}}</a></li>
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
					</ul>
				</li>
			{% endfor %}
		</ul>
	</div>
	<div class="widget recent">
		<div class="heading">Recent Posts</div>
		<ul>
			{% assign counter = 0 %}
			{% for p in site.posts %}
				{% if counter < 5 %}
					{% if p.category != "hidden" %}
						{% assign counter = counter | plus:1 %}
						<li><a href="{{p.url}}">[{{p.category}}] {{p.title | truncate:15,'...'}}</a></li>
					{% endif %}	
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</nav>
<script type="text/javascript">
	$('.posts-cat.{{page.category}}').show();
</script>