{% include header.html %}
	<div class="col-xs-12 col-sm-9">
		<div class="post">
			<div class="post-title">
				<h1>{{ page.title }}</h1>
			</div>	
			<div class="pull-right">{{page.date | date: "%B %d, %Y"}}</div>
			<div class="tags">
			<div class="tag-desc">
				Tags: 
			</div>
			{% for t in page.tags %}
				<div class="tag">{{t}}</div>
			{% endfor %}
			</div>
			<div class="adsense">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- kcbs.github.io -->
				<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7569324435867375" data-ad-slot="7137482646" data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
			<div class="post-body">
				{{ content | markdownify }}
			</div>
			<div id="disqus_thread"></div>
			<script>
			/**
			* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
			* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
			*/
			/*
			var disqus_config = function () {
			this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
			this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
			};
			*/
			(function() { // DON'T EDIT BELOW THIS LINE
			var d = document, s = d.createElement('script');

			s.src = '//kcbsgithubio.disqus.com/embed.js';

			s.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(s);
			})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
			<div class="adsense">
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- kcbs.github.io.bottom -->
				<ins class="adsbygoogle"
				     style="display:block"
				     data-ad-client="ca-pub-7569324435867375"
				     data-ad-slot="2719335845"
				     data-ad-format="auto"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>
		</div>
	</div>
{% include footer.html %}
